extends ../layouts/default

block intro
	+flash-messages(messages)

block content
	.container: .jumbotron
		a(href='/').btn.btn-primary
			span.hidden-md На главную
		p.lead Привет #{user.name.first}, это ваш профиль!
		a(href='/signout').btn.btn-secondary
			span.hidden-md Выйти
			i.fas.fa-sign-out-alt.pl-1
		if !user.isActive
			p.lead Ваш профиль до сих пор не активен. Необходимо заполнить все поля и фото, получить разрешение от администратора, выбрать способ рассылки уведомлений.
		else
			p.lead Ваш профиль активен. Новые заявки будут поступать на выбранный вами способ рассылки.
		.page-content.tile.ph-2.pv-2.mb-2
			form(method='post', enctype='multipart/form-data', autocomplete='off', novalidate).form-horizontal
				input(type='hidden', name='action', value='profile.details')
				h3 Уведомления
				.form-group
					label.col-sm-2.control-label Оповещение по email
					.col-sm-10: input(type='checkbox', name='notifications.email' checked=user.notifications.email).form-control
				h3 Контактная информация
				.form-group
					label.col-sm-2.control-label Имя
					.col-sm-10: .form-row
						.col-xs-6: input(type='text', name='name.first' value=user.name.first).form-control
						.col-xs-6: input(type='text', name='name.last' value=user.name.last).form-control
				.form-group
					label.col-sm-2.control-label Email
					.col-sm-10: input(type='email', name='email' value=user.email).form-control
				.form-group
					label.col-sm-2.control-label Моб. телефон
					.col-sm-10: input(type='phone', name='phone' value=user.phone).form-control

				h3 Фото водителя
				.form-group
					.col-sm-10
						if user.driverPhoto.exists
							.row
								.col-sm-3: img(src=user._.driverPhoto.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='driverPhoto_upload')
						else
							input(type='file', name='driverPhoto_upload')


				hr.mv-2
				h3 Машина
				.form-group
					label.col-sm-2.control-label Марка
					.col-sm-10: input(type='text', name='car.kind' value=user.car.kind).form-control
				.form-group
					label.col-sm-2.control-label Модель
					.col-sm-10: input(type='text', name='car.model' value=user.car.model).form-control
				.form-group
					label.col-sm-2.control-label Год

					.col-sm-10: input(type='number', name='car.year' min="1900" max="2099" step="1" value=user.car.year).form-control
				.form-group
					label.col-sm-2.control-label Фото спереди
					.col-sm-10
						if user.photoFront.exists
							.row
								.col-sm-3: img(src=user._.photoFront.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='photoFront_upload')
						else
							input(type='file', name='photoFront_upload')
				.form-group
					label.col-sm-2.control-label Фото сбоку
					.col-sm-10
						if user.photoSide.exists
							.row
								.col-sm-3: img(src=user._.photoSide.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='photoSide_upload')
						else
							input(type='file', name='photoSide_upload')
				.form-group
					label.col-sm-2.control-label Фото внутри
					.col-sm-10
						if user.photoInside.exists
							.row
								.col-sm-3: img(src=user._.photoInside.thumbnail(120,120)).img-responsive
								.col-sm-9: input(type='file', name='photoInside_upload')
						else
							input(type='file', name='photoInside_upload')


				hr.mv-2
				button(type='submit', data-loading-text="Saving...").btn.btn-primary Сохранить

		.ui-reveal
			//- .ui-reveal__initial
				button(type='button').btn.btn-link.ui-reveal__trigger Change Password
			.ui-reveal__hidden
				form(method='post', autocomplete='off')
					input(type='hidden', name='action', value='profile.password')
					h3 Изменить пароль
					.form-group
						label(for='change-passwordNew').sr-only Новый пароль
						input(type='password', name='password', placeholder='Новый пароль', id='change-passwordNew').form-control
					.form-group
						label(for='change-passwordConfirm').sr-only Подтвердить пароль
						input(type='password', name='password_confirm', placeholder='Подтвердить пароль', id='signin-passwordConfirm').form-control
					.form-group
						button(type='submit', data-loading-text="Changing...").btn.btn-primary Изменить