extends layouts/basecard
block content
	div.padding1rem
		-const date = moment(data.guest.date).format('L')
		p#cardP #{t('mails.accptReq.adminHi', {}, language)}
		div#bodyCard.padding1rem
			h2 #{t('mails.request.data', {}, language)}
			p#cardP #{t('mails.request.client', {}, language)} #{data.guest.name}
			p#cardP #{t('mails.request.goFromTo', {from: data.guest.from, to: data.guest.to}, language)}
			p#cardP #{t('mails.request.count', {}, language)} #{data.guest.count}
			p#cardP #{t('mails.request.price', {price}, language)}
			p#cardP #{t('mails.request.dateTime', {date, time: data.guest.time}, language)}
			if data.guest.comment
				p#cardP #{t('mails.request.comment', {}, language)} #{data.guest.comment}
			if data.guest.phone
				p#cardP #{t('mails.request.phone', {}, language)} #{data.guest.phone}
		div#bodyCard.padding1rem
			h2 #{t('mails.request.choosenDriver', {}, language)}
			p#cardP #{data.submitedOn.name.first} #{data.submitedOn.name.last}
			p#cardP #{t('mails.request.phone', {}, language)} #{data.submitedOn.phone}
			p#cardP #{t('mails.request.car', {}, language)} #{data.submitedOn.car.kind} #{data.submitedOn.car.model} #{data.submitedOn.car.year}
		div.linkContainer
			a(href=host + '/request/' + data._id + '/confirm').marginAuto
				button.bttn #{t('mails.accptReq.confirm', {}, language)}