extends layouts/base
block content
	-const date = moment(guestData.guest.date).locale('ru').format('LL')
	-const link = host + '/adm/requests/edit/request/' + guestData._id
	p #{t('mails.hi')} %recipient.firstName%,
	p #{t('mails.newReq.appear')}
	p #{t('mails.newReq.info', guestData.guest.from, guestData.guest.to, date, guestData.guest.time, guestData.guest.count)}
	if guestData.guest.comment
		p #{t('mails.request.comment')} #{guestData.guest.comment}
	p.
		#{t('mails.newReq.validate')} #[a(href=link) #{t('mails.newReq.link')}]
