extends layouts/base
block content
	-const date = moment(guestData.guest.date).locale('ru').format('LL')
	p Здравствуйте %recipient.firstName%,
	p Новая заявка
	p Из #{guestData.guest.from}, в #{guestData.guest.to}, дата #{date}, время #{guestData.guest.time}, количество человек #{guestData.guest.count}
	if guestData.guest.comment
		p Комментарий: #{guestData.guest.comment}
	p: a(href=host + '/adm/requests/edit/request' + guestData._id) Ссылка на новую заявку
