extends layouts/basecard
block content
	div.padding1rem
		-const date = moment(request.guest.date).format('L')
		h1 #{t('mails.futureReq.title', {}, language)}
		p#cardP #{t('mails.hi', {recipient: request.submitedOn.name.first}, language)},
		p#cardP #{t('mails.futureReq.reminder', {}, language)}
		div#bodyCard.padding1rem
			h2 #{t('mails.futureReq.data', {}, language)}
			p#cardP #{t('mails.request.client', {}, language)} #{request.guest.name}
			p#cardP #{t('mails.request.goFromTo', {from: request.guest.from, to:request.guest.to}, language)}
			p#cardP #{t('mails.request.count', {}, language)} #{request.guest.count}
			p#cardP  #{t('mails.request.price', {price: request.submitedPrice.value}, language)}
			p#cardP #{t('mails.request.dateTime', {date, time: request.guest.time}, language)}
			if request.guest.comment
				p#cardP #{t('mails.request.comment', {}, language)} #{request.guest.comment}
			p#cardP #{t('mails.request.phone', {}, language)} #{request.guest.phone}