extends layouts/basecard
block content
	-const imgStar = 'https://res.cloudinary.com/vettura/image/upload/v1526219288/email-star.gif'
	div#section: h1 #{t('mails.card.title', {}, language)}
	div#section
		p#cardPCar #{driverData.car.kind} #{driverData.car.model}, #{driverData.car.year}
		img(src=driverData.specialPhoto)#imgCar
	div#section
		img(src=driverData.driverPhoto)#imgDriver
		p.ratingP
			img(src=imgStar, width=35, height=35, alt='rating').ratingImg
			span.ratingSpan #{driverData.nominalValue}
		p#cardP #{driverData.name.first}
		p#cardP #{t('mails.card.ready', {from: driverData.from,to:driverData.to, clientName: driverData.guestName}, language)}
		p#cardP #{t('mails.card.price', {price}, language)}
	a(href=host + '/request/' + requestId + '/accept/' + driverData.id)
		button#submitCardBtn
			p#cardPBtn #{t('mails.card.go', {}, language)}
			p#cardPBtn #{t('mails.card.clickHere', {}, language)}