extends layouts/basecard
block content
	div.padding1rem
		p#cardP #{t('mails.rate.hi', {name: result.guest.name}, language)}
		div#bodyCard.padding1rem
			h2 #{t('mails.rate.title', {}, language)}
			p#cardP #{t('mails.rate.action', {}, language)}
		div.linkContainer
			a(href=host + '/request/' + result._id + '/rate?s=' + result.assignedRatingTime).marginAuto
				button.bttn #{t('mails.rate.btn', {}, language)}
