extends layouts/basecard
block content
	div.padding1rem
		-const date = moment(guestData.guest.date).format('L')
		h1 Клиент хочет поехать с Вами
		p#cardP Добрый день, %recipient.firstName%, Ваше ценовое предложение к трансферу было принято
		p#cardP В ближайшее время мы свяжемся с Вами для подтверждения поездки
		div#bodyCard.padding1rem
			h2 Данные заявки
			p#cardP Клиент - #{guestData.guest.name}
			p#cardP поедет из #{guestData.guest.from} в #{guestData.guest.to}
			p#cardP количество пассажиров #{guestData.guest.count}
			p#cardP цена #{price} €(евро)
			p#cardP дата #{date}, время #{guestData.guest.time}
			if guestData.guest.comment
				p#cardP Комментарий: #{guestData.guest.comment}
			p#cardP Номер телфона: #{guestData.guest.phone}