extends layouts/base
block content
	-const date = moment(guestData.guest.date).format('L')
	p Hi %recipient.firstName%,
	p новая заявка от #{guestData.guest.name}
	p Из #{guestData.guest.from}, в #{guestData.guest.to}, дата #{date}, время #{guestData.guest.time}, количество человек #{guestData.guest.count}
	p: a(href=host + '/request/' + guestData._id) Link to request submited by #{guestData.guest.name}